{% extends 'adminNavbar.html' %}
{% block main %}
{% load static %}

<section class="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Between Date Report Details</h1>
                </div>

                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item active">Reports</li>
                        <li class="breadcrumb-item active">Between Date Report</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Between Date Report Details</h3>
                    </div>

                    <div class="card-body">
                        <h5 class="text-center text-primary">Report From <span style="color:red;">{{fd}}</span> to <span
                                style="color:red;">{{td}}</span></h5>
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Mobile Number</th>
                                <th>Location</th>
                                <th>Message</th>
                                <th>Reporting Time</th>
                                <th>Action</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for i in fraudreport %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{i.FullName}}</td>
                                <td>{{i.MobileNumber}}</td>
                                <td>{{i.Location}}</td>
                                <td>{{i.Message}}</td>
                                <td>{{i.Postingdate}}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="{% url 'viewRequestDetails' i.id %}"><i
                                                class="fa fa-eye"></i></a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}